@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body::-webkit-scrollbar {
  width: 0.5vw;
  background-color: transparent; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* цвет зоны отслеживания */
}

body {
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.header {
  padding: 40px 0;
  width: 100%;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1366px) {
  .header {
    padding: 30px 0;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 20px 0;
  }
}
.header__container {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner .logo img {
  max-width: 97px;
  max-height: 31px;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav ul li {
  margin-left: 80px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  color: rgba(54, 56, 56, 0.9);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.header__nav ul li a {
  color: rgba(54, 56, 56, 0.9);
}
.header__nav ul li a:hover {
  color: #F1D152;
}
.header__nav ul li:first-child {
  margin-left: 0;
}
.header__nav ul li a.active {
  border-bottom: 2px #5A5A5A solid;
}
.header__nav ul li.burger-icon {
  display: none;
}
.header__nav-burger {
  display: none;
}
.header .burger-icon {
  display: none;
  height: 29px;
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .header .burger-icon {
    display: block;
    position: relative;
    z-index: 3;
  }
  .header .burger-icon svg {
    color: #5A5A5A;
    width: 37px;
    height: 29px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .header .burger-icon svg:hover {
    color: #F1D152;
  }
  .header .burger-iconOpen.active {
    scale: 0;
    position: absolute;
    right: 0;
  }
  .header .burger-iconClose {
    color: #5A5A5A;
    display: none;
    scale: 0;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    position: absolute;
    left: -30px;
  }
  .header .burger-iconClose:hover {
    color: #F1D152;
  }
  .header__nav-burger {
    scale: 0;
    display: block;
    position: absolute;
    right: -100%;
    top: 0;
    width: 210px;
    padding: 81px 20px 20px 20px;
    background-color: #fff;
    height: 100%;
    z-index: 2;
  }
  .header__nav-burger li {
    margin-bottom: 20px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    color: rgba(54, 56, 56, 0.9);
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .header__nav-burger li a {
    color: rgba(54, 56, 56, 0.9);
  }
  .header__nav-burger li a:hover {
    color: #F1D152;
  }
  .header__nav-burger li a.active {
    border-bottom: 2px #5A5A5A solid;
  }
  .header__nav-burger.active {
    right: 0;
    opacity: 1;
    scale: 1;
  }
  .header .burger-iconClose.active {
    scale: 1;
    display: block;
  }
}

.head {
  position: relative;
  z-index: -1;
  width: 100%;
  background-image: url("../img/header/bg.webp");
  height: 722px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.head__container {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}
.head__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.head__inner .chair {
  position: absolute;
  max-width: 703px;
  max-height: 815px;
  z-index: 0;
  left: -24%;
}
.head__info {
  margin: 0 0 0 auto;
  padding-top: 174px;
  max-width: 635px;
  position: relative;
}
.head__info h1 {
  color: #363838;
  font-family: Montserrat;
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 26px;
}
.head__info p {
  color: #5A5A5A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-top: 26px;
}
@media (max-width: 768px) {
  .head__info p {
    font-size: 14px;
    line-height: 20px;
  }
}
.head__info-subline {
  height: 1px;
  width: 185px;
  background-color: #979797;
}
@media (max-width: 1366px) {
  .head {
    height: 522px;
  }
  .head__inner .chair {
    left: -4%;
  }
  .head__inner .chair img {
    max-width: 493px;
  }
  .head__info {
    padding-top: 104px;
    max-width: 465px;
  }
  .head__info h1 {
    font-size: 80px;
  }
  .head__info p {
    font-size: 14px;
  }
}
@media (max-width: 966px) {
  .head {
    height: 402px;
  }
  .head__inner .chair img {
    max-width: 373px;
  }
  .head__info {
    padding-top: 44px;
    max-width: 355px;
  }
  .head__info h1 {
    font-size: 70px;
  }
}
@media (max-width: 768px) {
  .head__inner .chair {
    display: none;
  }
  .head__info {
    margin: 0 auto;
  }
  .head__info h1 {
    font-size: 70px;
  }
}
@media (max-width: 425px) {
  .head__info h1 {
    font-size: 55px;
  }
}
.head__slider-btns {
  max-width: 83px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 250px;
}
.head__slider-btns div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #363838;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer;
}
.head__slider-btns div.active {
  background-color: #F1D152;
}
.head__slider-btns div:hover {
  background-color: #F1D152;
}
@media (max-width: 1366px) {
  .head__slider-btns {
    margin-top: 170px;
  }
}
@media (max-width: 966px) {
  .head__slider-btns {
    margin-top: 80px;
  }
}

.footer {
  background-color: #DFDFDF;
  padding: 60px 0 0 0;
}
.footer__container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
}
.footer__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 4fr;
  grid-template-columns: 8fr 4fr;
  padding-bottom: 80px;
  grid-auto-flow: dense;
}
.footer__top .footer__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .footer__top {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    row-gap: 80px;
  }
  .footer__top > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
.footer__column-title {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  color: rgba(54, 56, 56, 0.9);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  margin-bottom: 14px;
}
.footer__column-title a {
  color: rgba(54, 56, 56, 0.9);
}
.footer__column-title a:hover {
  color: #F1D152;
}
.footer__column.contact a {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  color: rgba(54, 56, 56, 0.9);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  font-size: 14px;
  color: #363838;
}
.footer__column.contact a a {
  color: rgba(54, 56, 56, 0.9);
}
.footer__column.contact a a:hover {
  color: #F1D152;
}
.footer__column p {
  color: #5A5A5A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 16px;
  max-width: 476px;
}
@media (max-width: 768px) {
  .footer__column p {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer__column form input {
  color: #5A5A5A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding: 6px 18px;
  border-radius: 21px;
  border: 1px solid #8D8C8C;
  margin-top: 22px;
  margin-right: 9px;
  background-color: #DFDFDF;
  width: 60%;
}
@media (max-width: 768px) {
  .footer__column form input {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer__column form input::-webkit-input-placeholder {
  color: #8D8C8C;
}
.footer__column form input::-moz-placeholder {
  color: #8D8C8C;
}
.footer__column form input:-ms-input-placeholder {
  color: #8D8C8C;
}
.footer__column form input::-ms-input-placeholder {
  color: #8D8C8C;
}
.footer__column form input::placeholder {
  color: #8D8C8C;
}
.footer__column form button {
  padding: 4px 10px;
  border-radius: 21px;
  background: #363838;
  color: #5A5A5A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #fff;
  border: 2px solid #363838;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  width: 160px;
}
@media (max-width: 768px) {
  .footer__column form button {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer__column form button:hover {
  background-color: transparent;
  color: #363838;
  font-weight: 600;
}
@media (max-width: 768px) {
  .footer__column form {
    width: 100vw;
  }
  .footer__column form button {
    width: 30%;
  }
}
.footer__column li a {
  color: #5A5A5A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  font-weight: 600;
  font-size: 14px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
@media (max-width: 768px) {
  .footer__column li a {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer__column li a:hover {
  color: #F1D152;
}
.footer__column li {
  margin-bottom: 15px;
}
.footer__column li:last-child {
  margin-bottom: 0;
}
.footer__bottom {
  text-align: center;
  background-color: rgba(54, 56, 56, 0.9);
  padding: 42px 0;
}
.footer__bottom p {
  color: #5A5A5A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  line-height: 28px;
  color: #A1A1A1;
}
@media (max-width: 768px) {
  .footer__bottom p {
    font-size: 14px;
    line-height: 20px;
  }
}

.map {
  max-width: 1920px;
  height: 580px;
  margin: 0 auto;
  -webkit-transition: 0s;
  transition: 0s;
}
@media (max-width: 768px) {
  .map {
    height: calc(100vh - 71px);
  }
}

.contactUs {
  margin-top: 55px;
  margin-bottom: 100px;
}
.contactUs__container {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}
.contactUs__title {
  color: #363838;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 30px;
}
.contactUs .head__info-subline {
  width: 200px;
  height: 2px;
}
.contactUs__info {
  margin: 40px 0 0 auto;
  max-width: 830px;
}
.contactUs__info .social a {
  color: #5A5A5A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  font-size: 14px;
  margin-right: 20px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .contactUs__info .social a {
    font-size: 14px;
    line-height: 20px;
  }
}
.contactUs__info .social a:last-child {
  margin-right: 0;
}
.contactUs__info .social a:hover {
  color: #F1D152;
}
.contactUs__info-text {
  color: #5A5A5A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .contactUs__info-text {
    font-size: 14px;
    line-height: 20px;
  }
}
.contactUs__info-address {
  color: #5A5A5A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #5A5A5A;
  font-size: 16px;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .contactUs__info-address {
    font-size: 14px;
    line-height: 20px;
  }
}
.contactUs__info .footer__colum-link {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  color: rgba(54, 56, 56, 0.9);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.contactUs__info .footer__colum-link a {
  color: rgba(54, 56, 56, 0.9);
}
.contactUs__info .footer__colum-link a:hover {
  color: #F1D152;
}
.contactUs__info .footer__colum-link:hover {
  color: #F1D152;
}
@media (max-width: 1024px) {
  .contactUs__info {
    max-width: 60%;
  }
}
@media (max-width: 768px) {
  .contactUs__info {
    max-width: 100%;
  }
  .contactUs__info .social a {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .contactUs__info .social a {
    margin-right: 10px;
  }
}
.contactUs__form-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-bottom: 10px;
}
.contactUs__form input {
  width: 100%;
  color: #5A5A5A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding: 6px 18px;
  border-radius: 21px;
  border: 1px solid #8D8C8C;
  margin-top: 22px;
}
@media (max-width: 768px) {
  .contactUs__form input {
    font-size: 14px;
    line-height: 20px;
  }
}
.contactUs__form input::-webkit-input-placeholder {
  color: #8D8C8C;
}
.contactUs__form input::-moz-placeholder {
  color: #8D8C8C;
}
.contactUs__form input:-ms-input-placeholder {
  color: #8D8C8C;
}
.contactUs__form input::-ms-input-placeholder {
  color: #8D8C8C;
}
.contactUs__form input::placeholder {
  color: #8D8C8C;
}
.contactUs__form textarea {
  color: #5A5A5A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding: 6px 18px;
  border-radius: 21px;
  border: 1px solid #8D8C8C;
  margin-top: 22px;
  width: 100%;
  max-height: 125px;
  margin-top: 0;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .contactUs__form textarea {
    font-size: 14px;
    line-height: 20px;
  }
}
.contactUs__form textarea::-webkit-input-placeholder {
  color: #8D8C8C;
}
.contactUs__form textarea::-moz-placeholder {
  color: #8D8C8C;
}
.contactUs__form textarea:-ms-input-placeholder {
  color: #8D8C8C;
}
.contactUs__form textarea::-ms-input-placeholder {
  color: #8D8C8C;
}
.contactUs__form textarea::placeholder {
  color: #8D8C8C;
}
.contactUs__form button {
  padding: 4px 10px;
  border-radius: 21px;
  background: #363838;
  color: #5A5A5A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #fff;
  border: 2px solid #363838;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  width: 180px;
}
@media (max-width: 768px) {
  .contactUs__form button {
    font-size: 14px;
    line-height: 20px;
  }
}
.contactUs__form button:hover {
  background-color: transparent;
  color: #363838;
  font-weight: 600;
}

.examplesOfWorks {
  margin-bottom: 100px;
}
.examplesOfWorks-slider__item {
  max-width: 170px;
  max-height: 170px;
}

.examplesOfWorks-slider {
  position: relative;
}

.examplesOfWorks .swiper-pagination {
  position: absolute;
  bottom: 0;
}
.examplesOfWorks .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #363838;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.examplesOfWorks .swiper-pagination-bullet-active {
  background-color: #F1D152;
}