$gray: #363838;
$grayColor: rgba(54, 56, 56, 0.90);
$grayColorText: #5A5A5A;
$yellow: #F1D152;
$transition: .3s all ease;

@mixin navbarText {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    color: $grayColor;
    transition: $transition;
    a {
        color: $grayColor;
        &:hover {
            color: $yellow;
        }
    }
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
@mixin h1 {
    color: $gray;
    font-family: Montserrat;
    font-size: 110px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@mixin usualText {
    color: $grayColorText;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    @media (max-width:768px) {
        font-size: 14px;
        line-height: 20px;
    }
}

@mixin grayBtn {
    padding: 4px 10px;
    border-radius: 21px;
    background: $gray;
    @include usualText;
    color: #fff;
    border: 2px solid $gray;
    cursor: pointer;
    transition: $transition;
    &:hover {
        background-color: transparent;
        color: $gray;
        font-weight: 600;
    }
}

@mixin sectionTitle {
    color: $gray;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
}

@mixin container {
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}

@mixin inputStyle {
    @include usualText;
    padding: 6px 18px;
    border-radius: 21px;
    border: 1px solid #8D8C8C;
    margin-top: 22px;
    &::placeholder {
        color: #8D8C8C;
    }
}